<div class="card text-center">
    <div class="card-body">
      <h5 class="card-title" style="text-decoration: double; font-size: 32px;">{{data}}</h5>
      <!-- <img src="assets/dialog/errorOk.png" width="80px" height="80px"> -->
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <div class="col-md-12">
        <button type="button" class="btn btn-primary" mat-dialog-close="true" cl style="margin-right: 20px;">Oui</button>
        <button type="button" class="btn btn-danger" mat-dialog-close="false" >Non</button>
      </div>
    </div>
    <div class="card-footer text-muted">
     
    </div>
  </div>
  
  