<div class="container-scroller d-flex">
    <!-- partial:./partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item sidebar-category">
          <p>Acceuil</p>
          <span></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">
            <i class="mdi mdi-view-quilt menu-icon"></i>
            <span class="menu-title">Dashboard</span>
            <!-- <div class="badge badge-info badge-pill">2</div> -->
          </a>
        </li>
        <li class="nav-item sidebar-category">
          <p>Services</p>
          <span></span>
        </li>
        <li class="nav-item active">
          <a class="nav-link" data-toggle="collapse" href="#enseignant" aria-expanded="false" aria-controls="enseignant">
            <i class="mdi mdi-palette menu-icon"></i>
            <span class="menu-title">Gestion Enseignant</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="enseignant">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/gestion-enseignant">Home</a></li>
              <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/gestion-enseignant/presence">Presence</a></li>
              <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/gestion-enseignant/finance">Finance</a></li>
              <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/gestion-enseignant/paye">Paye</a></li>
              <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/gestion-enseignant/impression">Impression</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#eleves" aria-expanded="false" aria-controls="#eleves">
              <i class="mdi mdi-palette menu-icon"></i>
              <span class="menu-title">Gestion Eleves</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="eleves">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/gestion-eleves">Home</a></li>
                <!-- <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Presence</a></li> -->
                <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/gestion-eleves/finance">Finance</a></li>
                <!-- <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Paye</a></li> -->
                <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/gestion-eleves/impression">Impression</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ouv" aria-expanded="false" aria-controls="ouv">
              <i class="mdi mdi-palette menu-icon"></i>
              <span class="menu-title">Gestion Ouvrier</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ouv">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/gestion-ouvrier">Home</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/gestion-ouvrier/presence">Presence</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/gestion-ouvrier/finance">Finance</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/gestion-ouvrier/paye">Paye</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/gestion-ouvrier/impression">Impression</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#setting" aria-expanded="false" aria-controls="setting">
              <i class="mdi mdi-palette menu-icon"></i>
              <span class="menu-title">Parametre</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="setting">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="/dashboard/parametre">Home</a></li>
              </ul>
            </div>
          </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:./partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <!-- <div class="navbar-brand-wrapper">
            <a class="navbar-brand brand-logo" href="index.html"><img src="assets/images/logo.svg" alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo"/></a>
          </div> -->
          <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1" (click)="logout()">Welcome back, Joe MONKILA</h4>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item">
              <h4 class="mb-0 font-weight-bold d-none d-xl-block">Mar 12, 2019 - Apr 10, 2019</h4>
            </li>
            
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
        
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

            <button class="btn btn-primary btn-rounded"> Ajouter</button>
<!-- 
            <div class="table-responsive pt-3">
                
                    <table class="table table-hover" >
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Postnom</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>r</td>
                                <td>4</td>
                                <td>5s</td>
                            </tr>
                            <tr>
                                <td>r</td>
                                <td>4</td>
                                <td>5s</td>
                            </tr>
                            <tr>
                                <td>r</td>
                                <td>4</td>
                                <td>5s</td>
                            </tr>
                        </tbody>
                    </table>
               
            </div> -->

            <mat-form-field style="margin-top: 10px;">
              <mat-label>Recheche</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Jonathan" #input>
            </mat-form-field>
            
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
            
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                  <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>
            
                <!-- Progress Column -->
                <ng-container matColumnDef="nom">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
                  <td mat-cell *matCellDef="let row"> {{row.nom}} </td>
                </ng-container>

                <ng-container matColumnDef="postnom">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Postnom</th>
                  <td mat-cell *matCellDef="let row"> {{row.postnom}} </td>
                </ng-container>

                <ng-container matColumnDef="prenom">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Prenom</th>
                  <td mat-cell *matCellDef="let row"> {{row.prenom}} </td>
                </ng-container>

                <ng-container matColumnDef="lieu">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Lieu de Naissance</th>
                  <td mat-cell *matCellDef="let row"> {{row.lieu}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de naissance</th>
                  <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                </ng-container>

                <ng-container matColumnDef="etat">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Etat civil</th>
                  <td mat-cell *matCellDef="let row"> {{row.etat}} </td>
                </ng-container>

                <ng-container matColumnDef="sexe">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexe</th>
                  <td mat-cell *matCellDef="let row"> {{row.sexe}} </td>
                </ng-container>

                <ng-container matColumnDef="telephone">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone</th>
                  <td mat-cell *matCellDef="let row"> {{row.telephone}} </td>
                </ng-container>

                <ng-container matColumnDef="adresse">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresse</th>
                  <td mat-cell *matCellDef="let row"> {{row.adresse}} </td>
                </ng-container>


                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
                  <td mat-cell *matCellDef="let row">
                    <i class="fas fa-eye fa-lg text-success mr-2" ></i>
                    <i class="fas fa-edit fa-lg text-info mr-2"></i>
                    <i class="fas fa-trash-alt fa-lg text-danger" ></i>
                  </td>
                </ng-container>
          
               
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="10">No data matching the filter "{{input.value}}"</td>
                </tr>

              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
          
          
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:./partials/_footer.html -->
        <footer class="footer">
            <div class="card">
              <div class="card-body">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                  <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Ecole Numerique 20234</span>
                  <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Designed By Monkila-Tech <a href="https://www.monkila-tech.com/" target="_blank"></a> </span>
                </div>
              </div>
            </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
